{# templates/product/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background: linear-gradient(to right, #7b4397, #dc2430);
            color: white;
        }
        .product-details {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Product Details</h1>

    <div class="product-details">
        <p><strong>Id:</strong> {{ product.id }}</p>
        <p><strong>Name:</strong> {{ product.name }}</p>
        <p><strong>Name:</strong> {{ product.image }}</p>
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }}</p>
    </div>

    <a href="{{ path('product_index') }}" class="btn btn-secondary">Back to list</a>
    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning">Edit</a>

    
{% endblock %}
